<div class="redsocialpie">
    <!-- Google + -->
    <div class="floatLeft">
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone"></div>
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      window.___gcfg = {lang: 'es-419'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    </div>

    <!-- Twitter -->
    <div class="floatLeft">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://internetactiva.net" data-via="internetactiva" data-lang="es">Twittear</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <!-- Facebook -->
    <div class="floatLeft">
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://facebook.com/InternetActiva" data-send="true" data-layout="button_count" data-width="200" data-show-faces="true"></div>
    </div>
</div>
