<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>


  <title>{% block title %}Internet Activa{% endblock %}</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org - studio7designs.com" />
  <meta name="description" content="Site Description Here" />
  <meta name="keywords" content="keywords, here" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/html.css') }}" media="screen, projection, tv " />

  <!-- CSS specific to current theme -->
  <link rel="stylesheet"           type="text/css" href="{{ url_for('static', filename='css/light.css') }}" title="light" media="screen, projection, tv " />
  <link rel="alternate stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark.css') }}"  title="dark"  media="screen, projection, tv " />


</head>

<body>

<!-- #content: holds all except site footer - causes footer to stick to bottom -->
<div id="content">

  <!-- #header: holds the logo and top links -->
  <div id="header" class="width">

    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Internet Activa"/>

    <ul>
      <li><a href="/">Pagina inicial</a></li>
      <li><a href="/nosotros">Acerca de nosotros</a></li>
      <li><a href="/recursos">Recursos</a></li>
      <li><a href="/contacto" class="last">Contacto</a></li>
    </ul>

  </div>
  <!-- #header end -->


  <!-- #headerImg: holds the main header image or flash -->
  <div id="headerImg" class="width"></div>



  <!-- #menu: the main large box site menu -->
  <div id="menu" class="width">

    <ul>
      <li>
        <a href="/modulo/1" onfocus="blur()">
          <span class="title ">Módulo 1</span>
          <span class="desc">Descripción corta modulo uno</span>        </a>      </li>
      <li>
        <a href="/modulo/2" onfocus="blur()">
          <span class="title ">Módulo 2</span>
          <span class="desc">Descripción corta modulo dos</span>        </a>      </li>
      <li>
        <a href="/modulo/3" onfocus="blur()">
          <span class="title ">Módulo 3</span>
          <span class="desc">Descripción corta modulo tres</span>        </a>      </li>
      <li>
        <a href="/contacto" onfocus="blur()">
          <span class="title ">Contacto</span>
          <span class="desc"></span>
        </a>
      </li>
    </ul>

  </div>
  <!-- #menu end -->



  <!-- #page: holds the page content -->
  <div id="page">


    <!-- #columns: holds the columns of the page -->
    <div id="columns" class="widthPad">


    <!-- Left column -->
    <div class="floatLeft width73">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                     {% for message in messages %}
                        <p>{{ message }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}


    </div>
    <!-- Left column end -->


    <!-- Right link column -->
    <div class="floatRight width25 lightBlueBg horzPad">

      <h2>OS <span class="dark">Resources</span></h2>

      <ul class="submenu1">
        <li><a href="{{ url_for('list_posts') }}">Lista de articulos</a></li>
        <li><a href="{{ url_for('new_post') }}">Nuevo articulo</a></li>
      </ul>



    </div>
    <!-- Right links column end -->



    </div>
    <!-- #columns end -->

  </div>
  <!-- #page end -->

</div>
<!-- #content end -->




<!-- #footer: holds the site footer (logo and links) -->
<div id="footer">

  <!-- #bg: applies the site width and footer background -->
  <div id="bg" class="width">

    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Internet Activa"/>

    <ul>
      <li><a href="/">Inicio</a></li>
	</ul>

  </div>
  <!-- #bg end -->

</div>
<!-- #footer end -->
<!-- Template by STUDIO7DESIGNS http://www.studio7designs.com-->

</body>

</html>
