<head>


  <title>{% block title %}Internet Activa{% endblock %}</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org - studio7designs.com" />
  <meta name="description" content="Site Description Here" />
  <meta name="keywords" content="keywords, here" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/html.css') }}" media="screen, projection, tv " />
  <link type="text/css" href="{{ url_for('static', filename='css/ui-lightness/jquery-ui-1.8.22.custom.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.8.22.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tiny_mce/jquery.tinymce.js') }}"></script>  

</head>

