{% extends "base.html" %}

{% block content %}
<div class="entrada">
    <h1 id="">{{ post.title }}</h1>
    {{ post.content|safe }}
    <br/>
    (Escrita por {{ post.author.nickname() }})
    {% for etiqueta in post.etiquetas %}
        <a class="etiqueta" href="/tag/{{ etiqueta }}">{{ etiqueta }}</a>
    {% endfor %}
    <br/>
    
{% if d['admin']  %}
    <a href="/posts/edit/{{ post.title }}">Editar</a> | 
    <a href="/posts/del/{{ post.title }}">Borrar</a>
{% endif %}    
</div>
{% endblock %}
