{% extends "base.html" %}

{% block content %}

<div class="taller entrada">
    <div class="infoTaller">
        <div class="numero">
	        <div>{{numero}}</div>
        </div>    
        <div class="contenedor">
	        <div class="fecha">
		        <span class="mes">{{ mes }}</span><br>
		        <span class="dias">{{ dias }}</span>
	        </div>
	        <div class="texto">
		        <h2>{{ titulo|safe }}</h2>
		        {{ descripcion|safe }}
	        </div>
        </div>
    </div>    
</div>    
{% endblock %}
