/**************************************************************
   Visit studio7designs.com for more layouts and downloads for this template!
 **************************************************************/
 
/**************************************************************
   All page content except for footer
 **************************************************************/
#fondoPagina {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background-image:url('../images/FondoPagina.png');
  background-repeat: repeat-x;
  background: #e1b973; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYjk3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  #e1b973 0%, #ffffff 94px); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1b973), color-stop(94px,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e1b973 0%,#ffffff 94px); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e1b973 0%,#ffffff 94px); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e1b973 0%,#ffffff 94px); /* IE10+ */
  background: linear-gradient(to bottom,  #e1b973 0%,#ffffff 94px); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1b973', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
  background-position: 0 94px;
}

/**************************************************************
   Topbar with newsletter form and theme change buttons
 **************************************************************/

#topbar {
  float: left;
  width: 100%;
  padding: 0.6em 0;

  font-size: 0.9em;
  text-transform: uppercase;

  color: #CFD9DB;
  background: #FFF url(../images/bg/topbar.gif) repeat-x bottom left;
}



/**************************************************************
   Top menu and logo
 **************************************************************/

#header {
	clear: both;
	position: relative;
	height: 94px;
	margin: 0 auto;
	background: #FFFFFF repeat-x bottom left;
	background-color: #FFFFFF;
}


#menu1 > img {
  position: absolute;
  top: 18px;
  left: 10px;
}

#menu1 ul {
  margin: 0px 0 0 0;
  padding: 0;
  float: right;
}

#menu1 ul li {
  display: inline;
  list-style: none;
}

#menu1 ul li a {
  float: left;
  margin: 0 5px;
  padding: 0 0 9px;
  font: 400 1.1em Verdana, arial;
  letter-spacing: 0.1em;
  line-height: 0.8em !important;
  line-height: 1em;
  margin: 0 5px;

  color: #650c12;
  border-top: 9px solid #650c12;
}

#menu1 ul li a.last {
  padding-right: 0;
  border-right: 0;
}

#menu1 ul li a:hover {
  color: #FF0000;
  border-top: 9px solid #FF0000;  
}



/**************************************************************
   Header Image/Flash Movie
 **************************************************************/

#headerImg {
  margin: 0 auto;
  height: 143px;
  background: url(../images/bg/header_image.jpg) no-repeat top left;
}





/**************************************************************
   Top Block Menu
 **************************************************************/

#menu {
  margin: 0 auto;
}

#menu ul {
  width: 100%;
  float: right;
  margin: 0;
  padding: 45px 0 0;
  text-align: left;
}

#menu ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu ul li a {
  float: right;
  font: 400 1.2em Verdana, arial;
  letter-spacing: 0.1em;
  margin: 0 5px;

  color: #650c12;
  border-bottom: 9px solid #650c12;
}

#menu ul li a span {
  display: block;
  padding: 2px 7px;
}


#menu ul li a span.desc {
  font-size: 0.8em;
  color: #8C8D94;
}


#menu ul li a:hover,
#menu ul li a.here {
  color: #FF0000;
  border-bottom: 9px solid #FF0000;
}

#menu ul li a:hover span.desc,
#menu ul li a.here span.desc {
  color: #FFF;
}


/* Top menu icons */
#menu ul li a span.speaker {
  padding-left: 22px;
  background: url(../images/icons/speaker.gif) no-repeat 5px 50%;
}

#menu ul li a:hover span.speaker {
  background: url(../images/icons/speaker_on.gif) no-repeat 5px 50%;
}

#menu ul li a span.bubble {
  padding-left: 24px;
  background: url(../images/icons/bubble.gif) no-repeat 4px 4px;
}

#menu ul li a:hover span.bubble {
  background: url(../images/icons/bubble_on.gif) no-repeat 4px 4px;
}

#menu ul li a span.heart {
  padding-left: 20px;
  background: url(../images/icons/heart.gif) no-repeat 3px 50%;
}

#menu ul li a:hover span.heart {
  background: url(../images/icons/heart_on.gif) no-repeat 3px 50%;
}


#menu ul li a span.dollar {
  padding-left: 20px;
  background: url(../images/icons/dollar.gif) no-repeat 4px 50%;
}

#menu ul li a:hover span.dollar {
  background: url(../images/icons/dollar_on.gif) no-repeat 4px 50%;
}




/**************************************************************
   Page Content
 **************************************************************/

#page {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: left;
}

#columns {
  margin: 0 auto;
}


/* Column widths */
.width {
  width: 776px;
}

.widthPad {
  width: 746px;
}

.width25 {
  width: 24%;
}

.width50 {
  width: 48%;
}

.width73 {
  width: 73%;
}

.width75 {
  width: 75%;
}

.width100 {
  width: 100%;
}


/**************************************************************
   Footer
 **************************************************************/


#footer {
  clear: both;
  float: left;
  width: 100%;
  height: 5em;
  margin-top: -5em;
}

#footer #bg {
  position: relative;
  height: 5em;
  margin: 0 auto;
}

#footer #bg ul {
  float: right;
  padding: 0;
}

#footer #bg ul li {
  display: inline;
  list-style: none;
}

#footer #bg ul li a {
  float: left;
  padding: 0 1em;

  font: 400 1em Verdana, arial;
  letter-spacing: 0.1em;
  line-height: 0.8em !important;
  line-height: 1em;

  color: #ccc;
  border-right: 1px solid #4D5760;
}

#footer #bg ul li a.last {
  padding-right: 0;
  border-right: 0;
}

#footer #bg ul li a:hover {
  color: #F26A92;
}




/**************************************************************
   Icons specific to the colour theme
 **************************************************************/

a.lightTheme img,
a.darkTheme img,
a.submitButton img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

a.lightTheme img {
  background: url(../images/icons/light_light_theme.gif) no-repeat center center;
}

a.darkTheme img {
  background: url(../images/icons/light_dark_theme.gif) no-repeat center center;
}

a.submitButton img {
  background: url(../images/icons/light_submit.gif) no-repeat center center;
}


/**************************************************************
   Posts
 **************************************************************/

.post {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;

  margin-bottom: 1.5em;

  border-bottom: 1px solid #CCCCCC;
}

.post .date {
  position: absolute;
  top: 0;
  left: 5px;

  width: 2.3em;
  text-align: right;
}

.post .date .month {
  text-transform: uppercase;
  font: 700 1.0em Verdana, arial;
  color: #888;
}

.post .date .day {
  display: block;
  margin-top: -5px;
  font: 700 2.1em Verdana, arial;
  color: #888;
}

.post .title {
  display: block;
  padding: 0 0 5px 0;

  font-size: 1.2em;
  font-weight: bold;
  color: #586B7A;
}

.post p {
  margin: 0 0 0 3.5em;
  padding:  0 0 1em 1.2em;
  border-left: 1px solid #CCCCCC;
}



/**************************************************************
   Thumbnail Lists
 **************************************************************/

ul.thumbs,
ul.thumbs li {
  margin: 0;
  padding: 0;
}

ul.thumbs li {
  margin: 0 0 15px 0 !important;
  margin: 0;
  padding: 0px;
  list-style: none;
}

a.thumb img {
  
  border: 5px solid #ccc;
}

a:hover.thumb img {
  background: #8EB4C6;
  border: 5px solid #000;
}

a:hover.thumb {
  background: none;
}

a.thumb span {
  display: block;
  margin-top: -5px !important;
  margin-top: -2px;
}



/**************************************************************
   Submenu Styles
 **************************************************************/

ul.submenu1,
ul.submenu2 {
  margin: 0 0 20px 0;
  padding: 0;
}

ul.submenu1 li,
ul.submenu2 li{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.submenu1 li a,
ul.submenu2 li a {
  display: block;
  height: auto !important;

  /* Start hide from IE Mac \*/
  height: 1%;
  /* End hide from IE Mac */

  padding: 1px 5px 1px 20px;
  border-left: 20px solid #650c12;
}

ul.submenu1 li a {
}

ul.submenu1 a:hover {
  color: #FF0000;
  border-left: 20px solid #FF0000;
}

ul.submenu2 li a {
  color: #650c12;
}

ul.submenu2 a:hover {
  color: #FF0000;
}




/**************************************************************
   Modulos
 **************************************************************/

.videoModulo{
	border: 2px solid #660914;
	background-color: black;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding: 10px 17px;
   margin-bottom: 10px;
}

.infoModulo .numero {
   border-top: 1px solid #660914;
   background: #660914;
   background: -webkit-gradient(linear, left top, left bottom, from(#660914), to(#660914));
   background: -webkit-linear-gradient(top, #660914, #660914);
   background: -moz-linear-gradient(top, #660914, #660914);
   background: -ms-linear-gradient(top, #660914, #660914);
   background: -o-linear-gradient(top, #660914, #660914);
   padding: 20px 40px;
   -webkit-border-radius: 60px;
   -moz-border-radius: 60px;
   border-radius: 60px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 36px;
   text-decoration: none;
   vertical-align: middle;
   width: 0px;
   height: 40px;
   left: -40px;
   top: 10px;
   position: relative;
   float:left;
}
.infoModulo .numero div{
    left: -12px;
    position: relative;
    top: 6px;
    width: 0;
}
.infoModulo .texto{
    padding: 0 8px 0 0;
    width: 360px;
    color:#660914;
    float:right;
}
.infoModulo .fecha{
    border-left: 1px solid #660914;
    color: #660914;
    float: right;
    font-size: 24px;
    height: 50px;
    margin: 5px 0;
    padding: 20px 10px;
}
.infoModulo .fecha .mes{
   font-size: 36px;
}
.infoModulo .fecha .dias{
  line-height: 1.5em;
}
.infoModulo{
    height: 100px;
	border: 2px solid #660914;
	background-color: #f2da9c;
}



/**************************************************************
   Generic Display 
 **************************************************************/


.block {
  display: block;
}

.clear {
  clear: both;
}

.marginRight {
  margin-right: 15px;
}

.paddingLeft {
  padding-left: 5px;
}

.paddingRight {
  padding-right: 5px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignTop {
  vertical-align: top;
}

.alignMiddle {
  vertical-align: middle;
}

.alignBottom {
  vertical-align: bottom;
}

.lightBlueBg {
  background-color: #E9EAEB;
}

.dark {
  color: #353E47;
}
